
@import "ember-bootstrap/bootstrap";

@import url('https://fonts.googleapis.com/css?family=Roboto');

/* //////////////////////////////////////////////////////////////////////*/
/* General */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* //////////////////////////////////////////////////////////////////////*/
/* Encabezado y pie de pagina */

header {
  background-color: lightblue;
  text-align: center;
}

header ul li {
  display: inline-block;
}

.header-title {
  text-align: right;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

.header-icon {
  font-size: 20px;
}

footer {
  background-color: lightblue;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

/* //////////////////////////////////////////////////////////////////////*/

/* //////////////////////////////////////////////////////////////////////*/
/* Vista bienvenida */

.bienvenida {
  margin: 90px 90px 90px 90px;
}

.bienvenida-texto {
  background-color: #ffffff;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

.bienvenida-opciones {
  background-color: lightblue;
  color: #0D3349;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

.bienvenida-opciones:hover {
  color: white;
  background-color: #0D3349;
  text-decoration: none;
}

.bienvenida-opciones:visited {
  text-decoration: none;
}

.bienvenida ul li {
  display: inline-block;
}

.bienvenida ul {
  text-align: center;
}

/* //////////////////////////////////////////////////////////////////////*/

/* //////////////////////////////////////////////////////////////////////*/
/* vista ingresar-al-sistema */

.login {
  margin: 90px 450px 90px 450px;
}

.login-marco {
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  border-color: #0D3349;
  padding: 30px 30px 30px 30px;
}

.login p {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  display: block;
  margin-bottom: 10px;
}

.login-input {
  display: block;
  text-align: left;
  margin-bottom: 10px;
}

.login-input p {
  margin-bottom: 5px;
  text-align: left;
}

.login-submit {
  margin-left: 100px;
  margin-right: 100px;
  text-align: center;
  background-color: lightblue;
  color: #0D3349;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

.login-submit:hover {
  color: white;
  background-color: #0D3349;
  text-decoration: none;
}

/* //////////////////////////////////////////////////////////////////////*/

/* //////////////////////////////////////////////////////////////////////*/
/* vista crear-cuenta */

.signUp {
  margin: 90px 450px 90px 450px;
}

.signUp-marco {
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  border-color: #0D3349;
  padding: 30px 30px 30px 30px;
}

.signUp p {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  display: block;
  margin-bottom: 10px;
}

.signUp-input {
  display: block;
  text-align: left;
  margin-bottom: 10px;
}

.signUp-input p {
  margin-bottom: 5px;
  text-align: left;
}

.signUp-submit {
  margin-left: 100px;
  margin-right: 100px;
  text-align: center;
  background-color: lightblue;
  color: #0D3349;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

.signUp-submit:hover {
  color: white;
  background-color: #0D3349;
  text-decoration: none;
}

/* //////////////////////////////////////////////////////////////////////*/

