<header>
  <ul>
    <li>
      <div class="header-title">
        <h1>TrumpUN</h1>
      </div>
    </li>
    <li>
      <div class="header-icon">
        {{material-icon "home"}}
      </div>
    </li>
    <li>
      {{#if session.isAuthenticated}}
        <div {{action 'salir' on="mouseUp"}} class="login-submit">
          Salir
        </div>
      {{/if}}
    </li>
  </ul>

</header>

<div>
  {{outlet}}
</div>

<footer>
  2018 Grupo 11 DCPS
</footer>