<header>
  <ul>
    <li>
      <div class="header-title">
        <h1>TrumpUN</h1>
      </div>
    </li>
    <li>
      <div class="header-icon">
        {{material-icon "home"}}
      </div>
    </li>
  </ul>

</header>

<div>
  {{outlet}}
</div>

<footer>
  2018 Grupo 11 DCPS
</footer>