<div class="bienvenida">
  <p class="bienvenida-texto">Bienvenido a la inmobiliaria TrumpUN</p>
  <ul>
    <li>
      {{#link-to "ingresar-al-sistema" class="bienvenida-opciones"}}
        Ingresar
      {{/link-to}}
    </li>
    <li>
      {{#link-to "crear-cuenta" class="bienvenida-opciones"}}
        Crear una nueva cuenta
      {{/link-to}}
    </li>
  </ul>
</div>
{{outlet}}
