<div class="main-container text-center">
  <p class="bienvenida-texto">Bienvenido a la inmobiliaria TrumpUN</p>
  <div class="p-1">
    {{#link-to "ingresar-al-sistema" tagName= "button" class="btn btn-primary main-btn-size"}}
      Ingresar
    {{/link-to}}
  </div>
  <div class="p-1">
    {{#link-to "crear-cuenta" tagName= "button" class="btn btn-primary main-btn-size"}}
      Crear una nueva cuenta
    {{/link-to}}
  </div>
</div>
{{outlet}}
