<div class="login">
  <div class="login-marco">
    <p>Ingrese su información de usuario</p>
    <div class="login-input">
      <p>Correo</p>
      <input type="text">
    </div>
    <div class="login-input">
      <p>Contraseña</p>
      <input type="password">
    </div>
    <div class="login-submit">
      Ingresar
    </div>
  </div>
</div>
{{outlet}}