<div class="login">
  <div class="login-marco">
    <p>Ingrese su información de usuario</p>
    <div class="login-input">
      <p>Correo</p>
      {{input type="text" value=correo}}
    </div>
    <div class="login-input">
      <p>Contraseña</p>
      {{input type="password" value=password}}
    </div>
    <div {{action 'ingresar' correo password on="mouseUp"}} class="login-submit">
      Ingresar
    </div>
  </div>
</div>
{{outlet}}