<div class="main-container">
  <div class="col-md-6 login-marco">
    <p>Ingrese su información de usuario</p>
    <div class="login-input">
      <p>Correo</p>
      {{input type="text" value=correo class="form-control col-sm-11 col-md-9"}}
    </div>
    <div class="login-input">
      <p>Contraseña</p>
      {{input type="password" value=password class="form-control col-sm-11 col-md-9"}}
    </div>
    <div class="text-right">
      <button {{action 'ingresar' on="mouseUp"}} class="btn btn-primary">
        Ingresar
      </button>
    </div>
  </div>
</div>
{{outlet}}
